@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Bungee&family=Cinzel:wght@400;600&family=Gloock&family=Great+Vibes&family=Imperial+Script&family=Inter&family=Josefin+Sans&family=Kanit:wght@300&family=League+Spartan&family=Luxurious+Roman&family=Norican&family=Orbitron&family=Oswald&family=Poppins:wght@400;500;600&family=Prosto+One&family=Raleway:wght@400;500;600&family=Saira+Condensed:wght@300;400&family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
     /* padding: 0 3rem 0 3rem; */
    /* padding: 0 3rem 0 3rem; */
    font-family: 'Inter', sans-serif;
}

:root {
    --color-lowWhite: rgb(252, 252, 252);
    --color-offwhite: #f8f8ff;
    --color-tinygreen: #fafffa;
    --color-thickgreen: #006400;
}


/* ------------ COURSE BAR -----------------  */
.course_bar {
    padding: 3rem 3rem 1.5rem 3rem;
    display: inline-flex;
    gap: 3px;
}

.course_bar h3 {
    color: #6d6c6c;
}

.course_bar h4 {
    font-size: 1.2rem;
}

/* ----------- course topic -------------  */
.course_topic {
    padding: 0 0 0 3rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.star-reviews {
    display: inline-flex;
    gap: 1rem;
    padding: 1rem 0 1rem 3rem;
    align-items: center;
}

.star i {
    font-size: 2rem;
    color: rgb(243, 181,25);
}

.certified-course_section {
    padding: 0 3rem 0 3rem;
    display: inline-flex;
    gap: 3rem;
    padding-bottom: 2rem;
}

.certified-course_section i {
    color: var(--color-thickgreen);
    padding: 0 0.3rem 0 0;
}

/* ---------------- VIDEO CONTAINER ----------------  */
.video_container {
    padding: 0 3rem 0 3rem;
}

/* ----------------- COURSE OPTION SETION --------------  */

.course-options_content {
    padding: 2rem 10rem 3.6rem 3rem;
}

.course-options_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options_list {
    display: flex;
    gap: 5rem;
}

.options_list li{
    position: relative;
    color: black;
    cursor: pointer;
}

.options_list li.active{
    color: var(--color-thickgreen);
}

.options_list li.active::after {
    background-color: var(--color-thickgreen);
}

.options_list li::after,
.options_list li a {
    position: relative;
    color: black;
}

.options_list li a.active{
    color: var(--color-thickgreen);
}

.options_list li.active::after {
    background-color: var(--color-thickgreen);
}

.options_list li::after {
    content: ' ';
    display: block;
    height: 2px;
    background-color: black;
    bottom: -4px;
    width: 0;
    position: absolute;
    transition: all ease-in-out 250ms;
}

.options_list li:hover::after,
.options_list li.active::after{
   width: 100%;
}

/* Button  */
.button {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #4682B4;
    font-size: 0.8rem;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.button a {
    color: white;
}

.button:hover {
    background-color: #6495ED;
}

/* ----------------- COURSE STEPS SECTION ---------------- */

.course-step_container {
    padding: 0 3rem 5rem 3rem;
    padding: 0 0 5rem 0;
}

.course-step_content {
    padding: 2rem;
    background-color: var(--color-tinygreen);
}

.step_paragraph {
    text-align: center;
}

.step_paragraph h2 {
    font-size: 1.7rem;
    padding: 1rem;
}

.steps_body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

.steps {
    text-align: center;
}

.img {
    padding: 1rem;
}

/* <!-- ------ COURSE DESCRIPTION -------------------  -->  */

.course_description {
    padding: 0 3rem 0 3rem;
}

.content-title_body {
    padding: 1.3rem 0 3rem 0;
}

.content-title_body p{
    padding: 0.5rem 0 0 0;
}

/* -------------- COURSE TO LEARN ---------------  */

.content_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.learn-course h3{
    padding-bottom: 1rem;
    padding: 0 0 1rem 0;
}

.content {
    display: flex;
    gap: 1rem;
}

.content i {
    color: var(--color-thickgreen);
}

/* bullet-point  */
.content-bullet-point {
    padding: 3rem 0 0 0;
}

.content-bullet-point p {
    padding: 0 0 1.3rem 0;
}


/* ------------- CURRICULUM SECTION -------------------------  */

.curriculum_container {
    padding: 0 3rem 3rem 3rem;
}

.curriculum_container h3{
    padding: 1rem 0 2rem 0;
    font-size: 2rem;
}

.list li {
    padding: 0 0 1.9rem 0;
    cursor: pointer;
}

.curriculum_container h3{
    padding: 3rem 0 1rem 0;
}

.curriculum_list li {
    padding: 0 0 1.9rem 0;
}

.curriculum_list li{
    font-size: 1.1rem;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}


.curriculum_list li.active{
    /* color: blue; */
    color: var(--color-thickgreen);
}

.curriculum_list li:hover,
.curriculum_list li:hover::before,
.curriculum_list li a.active {
    color: var(--color-thickgreen);
}

.curriculum_list li a:hover,
.curriculum_list li a:hover::before{
    color: var(--color-thickgreen);
    transition: all ease-in-out 250ms;
}

.curriculum_content {
    display: flex;
    gap: 4rem;
}

.curriculum_details {
    width: 65%;
    height: 100%;
    padding: 1.5rem 0 1.5rem 1.3rem;
    background-color: var(--color-lowWhite);
    box-shadow: 3px 2px 8px rgb(0,0,0,0.06),
                0px 3px 3px rgb(0,0,0,0.06);
}

.curriculum_details p {
    padding: 1rem 0 1.5rem 0;
}

/* .curriculum_details a */

.curriculum_details a {
    color: var(--color-thickgreen);
}

/* ---------- PROSPECTIVE CAREER -------------  */
.prospective-career_container {
    padding: 3rem 3rem 3rem 3rem;
}

.career-title_body{
    padding: 2rem 0 0 0;
}

.career-title_body h3{
    padding: 0 0 0.5rem 0;
}


 /* FAQS STYLING  */

 .faq-item {
    /* box-shadow: 2px 10px 15px rgb(0,0,0,0.02); */
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    margin: 20px 0;

}

#arrow-up {
    display: none;
}

.faq-container {
    padding: 1rem 0 2rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.faq-container h1 {
    padding-bottom: 1rem;
    text-align: center;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    padding: 0.9rem 1rem 0.9rem 1rem;
    text-align: center;
    color: rgb(0,0,0,0.8);
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.faq-question a{
    text-decoration: none;
    color: black;
}

.faq-item:hover {
    background-color: #f1f7f5;
}

.faq-question i {
    font-size: 2rem;
    margin-right: 2rem;
}

.faq-answer {
    text-align: center;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    background-color: #f1f7f5;
    padding: 0 2rem 2.5rem 2rem;
    display: none;
    color: rgba(0,0,0,0.7);
    font-size: 1rem;
    line-height: 1.4;
}

/* ------------- RESPONSIVENESS --------- */

@media screen and (max-width: 1504px) {
    /* .course-options_content {
        flex-direction: column-reverse;
    } */
    .options_list {
        gap: 2rem;
    }
}

@media screen and (max-width: 934px) {
    /* .course-options_content {
        flex-direction: column;
    }

    .options_list {
        flex-direction: column;
        align-items: center;
    } */

    /* .course-options_content .button {
        display: none;
    } */
}

@media screen and (max-width: 900px) {
    .video_container {
        padding: 0 0.8rem 0 0.8rem;
    }


    .course-options_content {
        flex-direction: column;
        padding: 1rem;
    }

    /* .options_list {
        flex-direction: column;
        align-items: center;
    }  */

    .course-options_content .button {
        display: none;
    }

    /* .options_list {
        flex-direction: column;
    } */

    .certified-course_section {
        flex-direction: column;
        gap: 0.8rem;
    }

    .steps_body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .content_container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.7rem;
    }

    .curriculum_list ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .curriculum_content {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }


    .curriculum_details {
        width: 100%;
    }

    .course-options_content {
        display: none;
    }

    /* tabbbb  */

    .remove{
        margin-top: -5rem;
    }

    .wrapper {
        padding: 35px;
        position: relative;
        overflow-x: hidden;
        max-width: 1000px;
        background: #fff;
      }
      .wrapper .icon {
        position: absolute;
        top: 0;
        height: 100%;
        width: 120px;
        display: flex;
        align-items: center;
      }
      .icon:first-child {
        left: 0;
        display: none;
        background: linear-gradient(90deg, #fff 70%, transparent);
      }
      .icon:last-child {
        right: 0;
        justify-content: flex-end;
        background: linear-gradient(-90deg, #fff 70%, transparent);
      }
      .icon i {
        width: 55px;
        height: 55px;
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        background-color: var(--color-tinygreen);
      }

      .icon i:hover {
        background: #efedfb;
      }

      .icon:first-child i {
        margin-left: 15px;
      } 
      .icon:last-child i {
        margin-right: 15px;
      } 
      .wrapper .tabs-box {
        display: flex;
        gap: 10px;
        list-style: none;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

      .tabs-box.dragging {
        scroll-behavior: auto;
        cursor: grab;
      }
      .tabs-box .tab {
        cursor: pointer;
        font-size: 1rem;
        white-space: nowrap;
        background: white;
        padding: 13px 20px;
        border-radius: 30px;
      }
      .tabs-box .tab:hover{
        background-color: var(--color-tinygreen);
      }
      .tabs-box.dragging .tab {
        user-select: none;
        pointer-events: none;
      }
      .tabs-box .tab.active{
        color: var(--color-thickgreen);
        background: #effaef;
        border-color: transparent;
      }

      .tab a {
        color: black;
      }

      .tabs-box button{
        cursor: pointer;
        font-size: 1rem;
        white-space: nowrap;
        background-color: #4682B4;
        padding: 13px 20px;
        border-radius: 30px;
      }
}


@media screen and (max-width: 432px) {
    .steps_body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .wrapper {
        max-width: 400px;
    }
}

@media screen and (min-width: 900px) {
    .wrapper {
        display: none;
    }
}
/* Tab slider  */
