/* section2 */

.imgCon {
  height: 45%;
  height: 200px;
  width: 100%;
}

.con {
  height: 99%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #f4f4f8;
}

.con h2 {
  margin: 10px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f4f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con2 {
  height: 76%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #f4f4f8;
}

.con2h2 {
  margin: 10px 0;
}

/* ----------------- */

.myContainer {
  background-color: #f4f4f8;
  color: #000;
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  margin-top: 4.5rem;
  gap: 1.3rem;
}

.myContainer .swiper-container {
  width: 80%;
  max-width: 80vw;
  height: 80%;
  max-height: 80vh;
  overflow: hidden;
  position: relative;
}

.myContainer .swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myContainer .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myContainer .swiper-button-next,
.myContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
}

.myContainer .swiper-button-next::after,
.myContainer .swiper-button-prev::after {
  content: "";
}

.myContainer .swiper-button-next::after {
  font-family: "Material Icons";
  content: "chevron_right";
}

.myContainer .swiper-button-prev::after {
  font-family: "Material Icons";
  content: "chevron_left";
}
