

/* section2 */


.imgCon{
  height: 45%;
  height: 200px;
  width: 100%;
  
}
.con {
  height: 99%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin-top: 1rem; */
  background-color: #f4f4f8;
  /* text-align: left; */
 
}
.con h2{
  margin: 10px 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* height: 500px; */
  /* margin-top: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f4f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.con2 {
  height: 76%;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* margin-top: 1rem; */
  background-color: #f4f4f8;
  /* text-align: left; */
 
}
.con2h2{
  margin: 10px 0;
}




















@media (min-width:1200px) {
  /* md:flex md:static items-center md:w-[95%] */
  header{
    justify-content: center !important;
  }
  #menu-list{
    display: flex;
    position: static;
    align-items: center;
    width: 95%;
  }
  .diff{
    display: none;
  }
}

@media (max-width:1200px) {
 header{
  padding: 0 3rem;
 }
 .title{
  display: none;
 }
  
}

@media (max-width:767px) {


  
}

@media (max-width:400px) {
  .inp{
    width: 100% !important;
  }
 
}
